<div class="container d-flex flex-column min-vh-100">
  <header class="d-flex align-items-center pb-3 me-5 mb-2 border-bottom">
    <a href="/" class="d-flex align-items-center">
      <img
        src="../assets/TuSegundazo.com.png"
        alt="tusegundazo.com"
        class="img-thumbnail"
      />
    </a>
  </header>

  <main>
    <div class="container pe-5">
      <div class="row">
        <div class="col">
          <img
            src="../assets/banner.png"
            class="img-fluid"
            alt="Comercialización de automotores nuevos y usados"
          />
          <hr />
          <!-- PLace vehicle component here -->
        </div>
      </div>
    </div>
  </main>

  <footer class="footer mt-auto py-3">
    <div class="container d-flex justify-content-center align-items-center">
      <span class="text-dark"
        >Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo</span
      >
    </div>
  </footer>
</div>
